<div style="text-align: center;">
    <h2>{{ exercice?.name | uppercase }} Details</h2>
    <br>
    <h5>Duration : {{ exercice?.duration_minutes }} minutes</h5>
    <p>{{ exercice?.description }}</p>
    <div *ngIf="exercice?.isFinished">
        <app-stopwatch></app-stopwatch>
        <button (click)="exerciceService.setStatus(id)"
                [ngStyle]="{'background-color': 'green'}"
                style="border-radius: 40px;"
                type="button">DONE 👏
        </button>
    </div>
    <div *ngIf="!exercice?.isFinished">
        <button (click)="exerciceService.setStatus(id)"
                [ngStyle]="{'background-color': 'yellow'}"
                style="border-radius: 40px;"
                type="button">START 🎼
        </button>
    </div>
  </div>