<div style="padding: 20px;">
  <a style="padding: 10px;font-size: 25px;" routerLink="add"> 📝 Ajouter un exercice</a>
  <div class="row" style="padding: 10px;">
    <div class="col-sm-6" style="width: 300px;height: 150px;" *ngFor="let exercice of exercices; let i = index;" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ exercice.name }}</h5>
          <p class="card-text">{{ exercice.duration_minutes }} minutes</p>
          <a [id]="exercice.id" [routerLink]="[exercice.id]" class="btn btn-primary">Voir l'exercice</a>
        </div>
      </div>
    </div>
  </div>
</div>
