<div class="jumbotron">
    <h1 class="display-4">Salut à tous!</h1>
    <p class="lead">Juste cette petite application pour les musiciens en herbe comme moi qui sont désorganisés. Ceci est pour vous messieurs dames.</p>
    <hr class="my-4">
    <p>Cliquez sur l'un des boutons ci dessous pour vour rendre dans une des catégories.</p>
    <a id="my-button" class="btn btn-primary btn-lg" routerLink="exercices" role="button">Mes exercices</a>
    <a id="my-button" class="btn btn-secondary btn-lg" routerLink="sessions" role="button">Mes dernières sessions</a>
  </div>